@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700');

:root {
    --bounce: cubic-bezier(0.42, 0, 0.1, 1.35);

    background: black;
    --everything-size: 42px;
    --border-radius: 12px;
    --dark-col: #3D1015;
    --light-col: #960e25;
    --text-border-col: #f8f0f0;

    --l0-col: #l0-col;
    --l0-w: #l0-w;

    --l1-col: #l1-col;
    --l1-w: #l1-w;

    --l2-col: #l2-col;
    --l2-w: #l2-w;

    --l3-col: #l3-col;
    --l3-w: #l3-w;

    --l4-col: #l4-col;
    --l4-w: #l4-w;

    --l5-col: #l5-col;
    --l5-w: #l5-w;

    --l6-col: #l6-col;
    --l6-w: #l6-w;

    --l7-col: #l7-w;
    --l7-w: #l7-w;

    --l8-col: #l8-col;
    --l8-w: #l8-w;

    --l9-col: #l9-col;
    --l9-w: #l9-w;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes left-Slide {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


h1, p {
    margin: 0;
}

h1 {
    font-size: 20px;
    line-height: 28px;
}

p {
    font-size: 12px;
    line-height: 16px;
}

.root {
    top: 0;
    left: 0;
    height: 800px;
    width: 800px;
    position: absolute;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    color: var(--text-border-col);
}


.sigma {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
}

.content {
    position: absolute;
    inset: 0;
    display: grid;
    margin: var(--everything-size);
    grid-gap: var(--everything-size);
    height: calc(100% - 2 * var(--everything-size));
    grid-template-rows: 1fr 3fr 1fr;
}

.block {
    border: 2px solid var(--text-border-col);
    background: radial-gradient(ellipse at bottom left, var(--dark-col) 0%, var(--light-col) 100%);
    box-shadow: 0 0 25px var(--dark-col), inset 0 0 100px var(--dark-col);
    padding: var(--everything-size);
    border-radius: var(--border-radius);
}

.top, .bottom {
    display: grid;
    height: max-content;
    grid-gap: var(--everything-size);
}

.top {
    grid-template-columns: 7fr 9fr;
}

.top .left {
    opacity: 0;
    animation: left-Slide 1.5s 0.75s var(--bounce) forwards;
}

.top .right {
    display: flex;
    justify-content: space-between;
    animation: left-Slide 1.5s var(--bounce);
    align-items: center;
}

.note {
    font-size: 28px;
    line-height: 32px;
}

.middle {
    padding: 0;
    position: relative;
    animation: left-Slide 1.5s 0.5s var(--bounce) forwards;
    opacity: 0;
}

.block:not(.middle) > * {
    opacity: 0;
    animation: left-Slide 1.5s 1s var(--bounce) forwards;
}

.bg-lines {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

hr {
    border: none;
    border-top: 1px solid var(--text-border-col);
    width: 100%;
}

.bottom {
    grid-template-columns: 9fr 7fr;
}

.bottom .left {
    animation: left-Slide 1.5s 0.42s var(--bounce) forwards;
    opacity: 0;
}

.bottom .right {
    animation: left-Slide 1.5s 0.12s var(--bounce) forwards;
    opacity: 0;
}

.progress {
    display: flex;
    border: 2px solid var(--text-border-col);
    border-radius: var(--everything-size);
    height: 6px;
    margin-bottom: 4px;
}


.progress div:nth-of-type(1) {
    border-top-left-radius: var(--everything-size);
    border-bottom-left-radius: var(--everything-size);
    background-color: var(--l0-col);
    width: var(--l0-w);
    height: 100%;
}

.progress div:nth-of-type(2) {
    background-color: var(--l1-col);
    width: var(--l1-w);
    height: 100%;
}

.progress div:nth-of-type(3) {
    background-color: var(--l2-col);
    width: var(--l2-w);
    height: 100%;
}

.progress div:nth-of-type(4) {
    background-color: var(--l3-col);
    width: var(--l3-w);
    height: 100%;
}

.progress div:nth-of-type(5) {
    background-color: var(--l4-col);
    width: var(--l4-w);
    height: 100%;
}

.progress div:nth-of-type(6) {
    background-color: var(--l5-col);
    width: var(--l5-w);
    height: 100%;
}

.progress div:nth-of-type(7) {
    background-color: var(--l6-col);
    width: var(--l6-w);
    height: 100%;
}

.progress div:nth-of-type(8) {
    background-color: var(--l7-col);
    width: var(--l7-w);
    height: 100%;
}

.progress div:nth-of-type(9) {
    background-color: var(--l8-col);
    width: var(--l8-w);
    height: 100%;
}

.progress div:nth-of-type(10) {
    border-top-right-radius: var(--everything-size);
    border-bottom-right-radius: var(--everything-size);
    background-color: var(--l9-col);
    width: var(--l9-w);
    height: 100%;
}


.lang {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.bottom .right {
    display: grid;
    place-content: center;
}

svg#bg {
    animation: spin 200s linear infinite;
    stroke: #fff;
}

svg#technologies {
    position: absolute;
    inset: 0;
}

svg#technologies circle {
    opacity: 0;
    animation: fadeIn 0.5s 2s linear forwards;
}

svg#technologies rect {
    opacity: 0;
    animation: fadeIn 0.5s 2.5s linear forwards;
}

svg#technologies rect, svg#technologies circle {
    fill: url(#rd-1);
    filter: drop-shadow(0 3px 2px var(--dark-col));

    stroke-width: 2;
    stroke: #fff;
}

svg#technologies text {
    fill: var(--text-border-col);
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 0.5s 3s linear forwards;
}
